<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Farmacia_Milagro_De_La_Paz.Properties.Settings.Farmacia_Milagro_de_la_PazConnectionString"
            connectionString="Data Source=LAPTOP-RG8S76VP\SQLEXPRESS;Initial Catalog=Farmacia_Milagro_de_la_Paz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>